<div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="index-2.html">
                                    <img src="{{ asset('assets/upload/logo2x.png') }}" alt="" width="158" height="20">
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="index-2.html">
                                    <img src="{{ asset('assets/upload/logo2x_white.png') }}" alt="" width="158" height="20">
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper" style="margin-top:-70px;">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children arrow"><a href="index-2.html">Home</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="index-2.html">Home 1 – Classic Conference</a></li>
                                                        <li class="menu-item"><a href="home-2-registration-form.html">Home 2 – Registration Form</a></li>
                                                        <li class="menu-item"><a href="home-3-alternative-conference.html">Home 3 – Alternative Conference</a></li>
                                                        <li class="menu-item"><a href="home-4-alternative-2-conference.html">Home 4 – Alternative 2 Conference</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow"><a href="#">Schedules</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="schedule-fullwidth-filterable.html">Schedule Fullwidth</a></li>
                                                        <li class="menu-item"><a href="schedule-fullwidth-filterable-sidebar.html">Schedule Sidebar</a></li>
                                                        <li class="menu-item"><a href="schedule-tabs.html">Schedule Tabs</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow"><a href="#">Speakers</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="speaker-grid.html">Speaker Grid</a></li>
                                                        <li class="menu-item"><a href="speaker-classic.html">Speaker Classic</a></li>
                                                        <li class="menu-item"><a href="all-speakers-layouts.html">All Speakers Layouts</a></li>
                                                        <li class="menu-item"><a href="robin-johnson.html">Single Speaker</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow"><a href="#">Pages</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="about-conference.html">About The Event</a></li>
                                                        <li class="menu-item"><a href="buy-tickets.html">Buy Tickets</a></li>
                                                        <li class="menu-item"><a href="venue.html">Venue</a></li>
                                                        <li class="menu-item"><a href="contact-us.html">Contact Us</a></li>
                                                        <li class="menu-item"><a href="faqs.html">FAQs</a></li>
                                                        <li class="menu-item"><a href="gallery.html">Gallery</a></li>
                                                        <li class="menu-item"><a href="page-fullwidth.html">Page Fullwidth</a></li>
                                                        <li class="menu-item"><a href="page-right-sidebar.html">Page Right Sidebar</a></li>
                                                        <li class="menu-item"><a href="page-left-sidebar.html">Page Left Sidebar</a></li>
                                                        <li class="menu-item"><a href="page-video-header.html">Page + Video Header</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow menu-item-59"><a href="#">Blog</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                        <li class="menu-item"><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                        <li class="menu-item"><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                                        <li class="menu-item"><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                                                        <li class="menu-item"><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                                                        <li class="menu-item"><a href="blog-grid-fullwidth.html">Blog Grid Fullwidth</a></li>
                                                        <li class="menu-item"><a href="blog-full-grid-right-sidebar.html">Blog Full + Grid Right Sidebar</a></li>
                                                        <li class="menu-item"><a href="blog-full-grid-left-sidebar.html">Blog Full + Grid Left Sidebar</a></li>
                                                        <li class="menu-item"><a href="blog-full-grid-fullwidth.html">Blog Full + Grid Fullwidth</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow"><a href="#">Shortcodes</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item"><a href="accordion-toggles.html">Accordion &#038; Toggles</a></li>
                                                        <li class="menu-item"><a href="alert-boxes.html">Alert Boxes</a></li>
                                                        <li class="menu-item"><a href="animated-content.html">Animated Content</a></li>
                                                        <li class="menu-item"><a href="buttons-social-icons.html">Buttons &#038; Social Icons</a></li>
                                                        <li class="menu-item"><a href="columns.html">Columns</a></li>

                                                        <li class="menu-item"><a href="image-frame-animation.html">Image Animation</a></li>
                                                        <li class="menu-item"><a href="image-teasers.html">Image Teasers</a></li>
                                                        <li class="menu-item"><a href="tabs.html">Tabs</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button" style="margin-top: 15px;">

                                    <a href="#" id="get_ticket" class="button ghost">Get Tickets!</a>

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>